---
name: home
layout: home
---

# Introducción

Esta es mi colección de fanzines y cómics que he hecho a lo largo de los años en colaboración con otros artistas.

Visita la colección y consulta los metadatos.